[user]
	email = {{ .email }}
	name = {{ .git.name }}
[core]
	filemode = false
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = false
	attributesfile = /home/chriad/.gitattributes
[diff]
    tool = meld
[diff "sqlite3"]
    binary = true
    textconv = "echo .dump | sqlite3"
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[difftool "diffpdf"]
  cmd = diffpdf --appearance \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[github]
	user = chriad
[status]
	showUntrackedFiles = all
[alias]
	coa = !git add -A && git commit -m
	nccommit = commit -a --allow-empty-message -m \"\"
[interactive]
	diffFilter = diff-so-fancy --patch
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
[submodule]
	recurse = true
