[Desktop Entry]
Type=Application
Exec=/usr/bin/syncthing -no-browser
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=syncthing
Name=syncthing
Comment[en_US]=
Comment=
