[Unit]
Description=Anki sync server
# Documentation=man:syncthing(1)
# StartLimitIntervalSec=60
# StartLimitBurst=4
ConditionPathExists=/home/chriad/.syncserver
After=network.target
After=flatpak-system-helper.service

[Service]
# ExecStart=flatpak run --branch=stable --arch=x86_64 --command=anki --file-forwarding net.ankiweb.Anki --syncserver
Type=notify
ExecStart=systemd-cat -t anki-syncserver /var/lib/flatpak/exports/bin/net.ankiweb.Anki --syncserver
## to not require full path name, use flatpak-system-helper.service
## this should maybe be on-success, but first find out if exit status is 0 when stopping service manually
SuccessExitStatus=15
# RestartSec=3
# SuccessExitStatus=3 4
# RestartForceExitStatus=3 4

# code=killed, signal=TERM, anki-syncserver.service: Failed with result 'signal'.
# ExecStop=systemctl --user kill anki-syncserver.service
# Main process exited, code=exited, status=1/FAILURE
# ExecStop=/bin/kill -SIGKILL $MAINPID

# This works but will also kill a running anki gui instance
# ExecStop=flatpak kill net.ankiweb.Anki
# Restart=on-failure
# RemainAfterExit=no
# ExitType=main
# TODO: ExecCondition -> only start if sync client available, e.g. adb tcpip

# Hardening
# SystemCallArchitectures=native
# MemoryDenyWriteExecute=true
# NoNewPrivileges=true

##

[Install]
WantedBy=default.target


# Aug 25 11:00:52 workstation anki-syncserver[4061995]: Anki starting...
# Aug 25 11:00:52 workstation anki-syncserver[4061995]: Sync server failed: unable to create server
# Aug 25 11:00:52 workstation anki-syncserver[4061995]: Caused by these errors (recent errors listed first):
# Aug 25 11:00:52 workstation anki-syncserver[4061995]:   1: opening media
# Aug 25 11:00:52 workstation anki-syncserver[4061995]:   2: open media db (code=500)
# Aug 25 11:00:52 workstation anki-syncserver[4061995]:   3: DbError
# Aug 25 11:00:52 workstation anki-syncserver[4061995]:   4: Locked: